html {
    transition: 4s;
    /* background-image: linear-gradient(45deg , rgb(8, 140, 216),rgb(162, 170, 44)); */
    background-image: url(images/html-background.jpg);
    /* background-image: linear-gradient(to right,black,gray); */
    color: white;
    padding-right: 1.2rem;
}

h1 {
    font-size: 2.5rem;
    padding: .6rem;
    color: silver;
    width: max-content;
    /* position: static; */
    /* top: 2rem; */
    border-bottom: 2px solid gray;
}

.header-section{
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid rgb(12, 243, 212);
    border-right: 3px solid rgb(12, 243, 212);
    border-radius: 7rem;
    border-bottom-right-radius: 0rem;
    border-top-left-radius: 0rem;
    background-image: linear-gradient(90deg , rgba(36, 103, 141, 0.274),rgba(33, 161, 184, 0.192),rgba(133, 13, 180, 0.5));
}

.header-section nav p{
    border-bottom: 2px solid gray;
}




div {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    border-bottom: 2px solid gray;
    border-left: 2px solid gray;
    border-radius: 1.5rem;
    border-bottom-left-radius: 0.3rem;
    padding: 1rem;
    padding-left: 1.5rem;
    font-weight: 600;
}

nav{
    /* overflow-x: auto;
    display: flex;
    scroll-snap-type: x mandatory;
    border: 1px solid gray;
    padding: 1rem;
    flex-wrap: wrap;
     */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 2;
    flex-wrap: wrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;

}
nav{
    height: 150px;
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
    
}

nav h5:hover{
    background-image: linear-gradient(90deg , rgb(8, 140, 216),rgba(20, 180, 172, 0.651),rgb(134, 44, 170));
}

h2{
    /* height: 50px; */
    text-align: center;
    color: rgb(18, 91, 226);
    border-bottom: 2px solid whitesmoke;
    width: fit-content;
    border-radius: 1rem;
    padding: .4rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
h2:hover{
    color: white;
    background-image: linear-gradient(90deg , rgb(8, 140, 216),rgba(20, 180, 172, 0.651),rgb(134, 44, 170));
}

h5 {
    font-size: 1.8vh;
    padding: .2rem;
    padding-left: .9rem;
    padding-right: .9rem;
    border-bottom: 1px solid lightseagreen;
    border-right: 1px solid lightseagreen;
    margin: .3rem;
    height: 35px;
    display: flex;
    overflow-x: auto;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    flex-wrap: wrap;
    flex-grow: 2;
    flex-shrink: 3;
    border-radius: 1.5rem;
    border-bottom-right-radius: 0;
    /* border-bottom-left-radius: 0; */
}

a {
    /* height: 40px; */
    /* display: flex; */
    color: inherit;
    /* scroll-snap-type: x mandatory; */
    text-decoration: none;
}

.popularcourse{
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3rem;
    /* place-items: center; */
    /* flex-wrap: wrap; */
    /* column-count: 7; */
}

.popularcourse h3{
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-radius: 1.5rem;  
    border-bottom-left-radius: 0;
    width: fit-content;
    padding: .2rem;
    padding-left: .7rem;
    padding-right: .7rem;
    margin: 1rem;
    background-image: linear-gradient(90deg , rgb(8, 140, 216),rgba(20, 180, 172, 0.651),rgb(134, 44, 170));
}

.popularcourse h3:hover{
    scale: 1.1;
}


article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    margin: .4rem;
    padding-bottom: .5rem;
    border-radius: 1rem;   
    border-bottom-right-radius: .5rem;
}
.download-file{
    font-size: 1.25rem;
}
.cs-logo{
    height: 9rem;
    border-radius: 1rem;
}
.electro-logo{
    height: 10rem;
    border-radius: 1rem;
}
.ee-logo{
    height: 10rem;
    border-radius: 1rem;
}
.civil-logo{
    height: 10rem;
    border-radius: 1rem;
}
.chemistry{
    height: 10rem;
    border-radius: 1rem;
}
.chemical-logo{
    height: 10rem;
    border-radius: 1rem;
}
.food-logo{
    height: 10rem;  
    border-radius: 1rem;
}
.leather-logo{
    height: 10rem;
    border-radius: 1rem;
}
.paint-logo{
    height: 10rem;
    border-radius: 1rem;
}
.oil-logo{
    height: 10rem;
    border-radius: 1rem;
}
.maths-logo{
    height: 10rem;
    border-radius: 1rem;
}
.physics-logo{
    height: 10rem;
    border-radius: 1rem;
}




p{
    text-align: center;
}


section .social-media{
    height: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    padding-top: .8rem;
    
}
.social-media-section   {
    position: fixed;
    top: 30%;
    right: 0rem;
    
}
.github{
    filter: invert(100%);
}

.meet-team{
    font-size: 1.2rem;
    margin-top: 1rem;
    font-weight: 700;
}











img:hover{
    scale: 1.2;
}




@media (min-width:700px) and (max-width:1000px){
    .popularcourse{
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 3rem;
    }
}


@media (max-width:700px){
    .popularcourse{
        align-items: center;
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 3rem;
    }
}

@media (max-width:650px){
    .header-section h1{
        font-size: 1.2rem;
        margin: 0;
        padding: 0;
    }
    .header-section p{
        font-size: .9rem;
    }
    .header-section{
        margin: 0;
        padding: 0;
        width: 99vw;
    }
}