/* *{
    margin: 0;
    padding: 0;
} */


body {
    /* transition: 4s; */
    /* box-sizing: border-box; */
    /* background-image: linear-gradient(45deg , rgb(8, 140, 216),rgb(162, 170, 44)); */
    background: url(images/test4.jpg) no-repeat center center/cover ;
    /* width: 10%; */
    /* background-size: 10px; */

    opacity: 2.5;

    /* width: 100%; */
    /* background: no-repeat ; */
    /* background-image: linear-gradient(to right,black,gray); */
    /* background-color: yellow; */
    color: white;
    /* margin: auto; */
}

h1 {
    font-size: 2.5rem;

    padding: .6rem;
    color: silver;
    width: max-content;


}

.header-section{
    display: flex;
    justify-content: space-around;
    border-radius: 7rem;
    border-top-right-radius: 0rem;
    border-top-left-radius: 0rem;
    background-color: #2581a175;
     /*  */

}





div {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-wrap: wrap;
    /* border: 20px solid green; */
    margin: 1rem;
    border-bottom: 2px solid gray;
    border-left: 2px solid gray;
    border-radius: 1.5rem;
    border-bottom-left-radius: 0.3rem;
    padding: 1rem;
    padding-left: 1.5rem;
    font-weight: 600;
    z-index: 1;

}

.course{
    /* overflow-x: auto;
    display: flex;
    scroll-snap-type: x mandatory;
    border: 1px solid gray;
    padding: 1rem;
    flex-wrap: wrap;
     */
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: start;
     /* justify-content: start; */
    /* position: relative;
    left: 5%; */
   /* align-items: center;
    flex-grow: 1;
    flex-shrink: 2;
    flex-wrap: wrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory; */
    /*  */

}
nav{
    /* height: 150px; */
    display: flex;
    flex-wrap: wrap;
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
    /* border: 10px solid green; */

    width: fit-content;

}

nav h5:hover{
   background-color: #46c4c463;
}

h2{
    /* height: 50px; */
    text-align: center;
    color: rgb(89 192 208 / 86%);
    width: fit-content;
    border-radius: 1rem;
    padding: .4rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
h2:hover{
    color: white;
    background-color: #375dc766;
}

h5 {
    font-size: 1.8vh;
    padding: .2rem;
    padding-left: .9rem;
    padding-right: .9rem;
    border-bottom: 1px solid lightseagreen;
    border-right: 1px solid lightseagreen;
    margin: .3rem;
    height: 35px;
    display: flex;
    overflow-x: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 2;
    flex-shrink: 3;
    border-radius: 1.5rem;
    border-bottom-right-radius: 0;
    /* border-bottom-left-radius: 0; */
}

a {
    /* height: 40px; */
    /* display: flex; */
    color: inherit;
    /* scroll-snap-type: x mandatory; */
    text-decoration: none;
}

.popularcourse{
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3rem;
    /* place-items: center; */
    /* flex-wrap: wrap; */
    /* column-count: 7; */
}

.popularcourse h3{
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-radius: 1.5rem;
    border-bottom-left-radius: 0;
    width: fit-content;
    padding: .2rem;
    padding-left: .7rem;
    padding-right: .7rem;
    margin: 1rem;
    background-color: #4c52d233;
}
.popularcourse h3:hover{
    color: white;
 background-color: #375dc766;
    scale: 1.05;

}
article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    margin: .4rem;
    padding-bottom: .7rem;
    border-radius: 1rem;
    border-bottom-right-radius: .5rem;
}
.download-file{
    font-size: 1.25rem;
}
.cs-logo{
    height: 10rem;
    border-radius: 1rem;
}
.electro-logo{
    height: 10rem;
    border-radius: 1rem;
}
.ee-logo{
    height: 10rem;
    border-radius: 1rem;
}
.civil-logo{
    height: 10rem;
    border-radius: 1rem;
}
.chemistry{
    height: 10rem;
    border-radius: 1rem;
}
.chemical-logo{
    height: 10rem;
    border-radius: 1rem;
}
.food-logo{
    height: 10rem;
    border-radius: 1rem;
}
.leather-logo{
    height: 10rem;
    border-radius: 1rem;
}
.paint-logo{
    height: 10rem;
    border-radius: 1rem;
}
.oil-logo{
    height: 10rem;
    border-radius: 1rem;
}
.maths-logo{
    height: 10rem;
    border-radius: 1rem;
}
.physics-logo{
    height: 10rem;
    border-radius: 1rem;
}




p{
    text-align: center;
}


section .social-media{
    height: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    padding-top: .8rem;
    /*  */

}
.social-media-section   {
    /*  */
    position: fixed;
    top: 30%;
    right: 3%;

}
.github{
    filter: invert(100%);
}

.meet-team{
    font-size: 1.2rem;
    margin-top: 1rem;
    font-weight: 700;
}











img:hover{
    scale: 1.2;
}




@media (min-width:750px) and (max-width:1000px){
    .popularcourse{
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 3rem;
    }
}


@media (max-width:750px){
    .header-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom-left-radius: 4rem;
        border-bottom-right-radius: 4rem;
    }
    .new{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
    .popularcourse{
        align-items: center;
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 3rem;

    }
    .new ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-items: center;
        align-items: center;
     }
}

@media (max-width:650px){

    .header-section h1{

        font-size: 2rem;
        margin: 0;
        padding: 0;
    }
    .header-section p{
        font-size: 2rem;
    }
    .header-section{
        margin: 0;
        padding: 0;
        width: 100%;
        border-radius: 2px solid red;
    }

    .new{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-items: center;
        flex-wrap: wrap;

    }
    .new ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-items: center;
        align-items: center;
     }
}
 /* hide toggle button css */
 #toggle{
    border: none;
    background: transparent;
    color: white;
    text-decoration: underline;
    cursor: pointer;
 }
 .new{
    /*  */
    display: flex;
    align-items: center;
 }
 .new ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
 }
 .new ul li{
    display: flex;
    margin-right: 2.5rem;
    align-items: center;
    /* border: 2px solid rebeccapurple; */
 }
.new ul a:hover{
    background-color: white;
    color: black;
    padding: 0.4rem 0.7rem;
    border-radius: 1rem;
}