html{
    background-color: rgb(170, 231, 255);

}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.learn-with-us {
    /* background-image: url(logo.jpg); */
    background-color: rgb(20, 97, 164);
    font-size: 2.8vw;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 1rem;
    padding-bottom: 1.6rem;
    border-left: .6rem solid rgb(255, 255, 255);
    border-right: .6rem solid rgb(255, 255, 255);
    border-bottom: .6rem solid rgb(255, 255, 255);
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    white-space: nowrap;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1;
    flex-shrink: 2;
}
h1{
    display: contents;
}
h1:hover{
    background-color: rgb(21, 177, 238);
}
.learn-with-us:hover {
    color: black;
    background-color: rgb(21, 177, 238);
}

.web-slogan {
    color: rgb(0, 255, 64);
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}


/* New navBar */

*{
    padding: 0;
    margin: 0;
}

.heading{
    /* border: 3px solid ; */
    background-color: rgba(0, 0, 255, 0.714);
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.heading h1{
    text-align: center;

}


.navbar img{
    height: 2rem;
    /* left: 0; */
    /* border: 2px solid black; */
}

.navbar{
    position: fixed;
    bottom: -1%;
    display: flex;
    justify-content: space-evenly;
    border: 4px solid rgb(74, 182, 250);
    width: 100%;
    /* padding: auto; */
    background-color: rgb(74, 182, 250);
    border-top-left-radius: 7rem;
    border-top-right-radius: 7rem;
    /* align-items: center; */
    /* place-items: center; */
    z-index: 1;
    display: none;
}

#home{
    padding: .2rem;
    /* padding-top: 2rem; */
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: rgb(74, 182, 250);
    transform: translateY(-20px);
}

.navbar button{
    background-color: transparent;
    border: 0;
}


/* New NavBar Ending */


.border1 {
    /* border: 1px solid white; */
/*     margin-left: 1rem; */
/*     margin-right: 1rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

h3 {
    font-size: 1.3rem;
/*     padding-left: .1rem; */
/*     padding-right: .1rem; */
    border-bottom: 1px solid blue;
    /* border-left: 1px solid blue; */
    /* border-right: 1px solid blue; */
    margin: .3rem;
/*     height: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 2;
    border-radius: .6rem;
}
.border1 h3{
    border-radius: 2.6rem;
    padding: .4rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

h3:hover {
    color: black;
/*     font-size: 1.8vh; */
    background-color: white;
    /* border: 1px solid white; */
}

.portfolio{
    color: black;
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
}
.portfolio:hover{
    font-size:1.3rem;
    color: rgb(0, 255, 200);
}


.course-heading {
    background-color: rgb(91, 174, 245);
    max-width: 90%;
    padding: .4rem;
    color: white;
    font-size: 1.5rem;
    border: 1px solid white;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
    flex-shrink: 2;

}

.course-heading:hover {
    width: 90%;
    padding: .3rem;
    color: white;
    font-size: 1.8rem;
    border: 1px solid white;
    border-radius: 1rem;

}


.html-logo ,.html-logo-in{
    height: 19vh;
    width: 34vh;
    /* border: 1px solid white; */
    border-radius: 1rem;
    z-index: 1;
}

/* .html-logo:hover {
    height: 23vh;
    z-index: 1;
} */
.css-logo {
    height: 19vh;
    width: 34vh;
    /* border: 1px solid white; */
    border-radius: 1rem;
    z-index: 1;
}

.css-logo:hover {
 transform: skew(-10deg , -10deg) ;
}

.c-logo {
    height: 19vh;
    width: 34vh;
    /* border: 1px solid white; */
    border-radius: 1rem;
    z-index: 1;
}

.c-logo:hover {
    transform: skew(-10deg , -10deg) ;
}

.python-logo {
    height: 19vh;
    width: 34vh;
    /* border: 1px solid white; */
    border-radius: 1rem;
    z-index: 1;
}

.python-logo:hover {
    transform: skew(-10deg , -10deg) ;
}


.cpp-logo {
    height: 19vh;
    width: 34vh;
    /* border: 1px solid white; */
    border-radius: 1rem;
    z-index: 1;
}

.cpp-logo:hover {
    transform: skew(-10deg , -10deg) ;
}

.java-logo {
    height: 19vh;
    width: 34vh;
    /* border: 1px solid white; */
    border-radius: 1rem;
    z-index: 1;
}

.java-logo:hover {
    transform: skew(-10deg , -10deg) ;
}



/* dated 11 August 11:30pm */

.course-column{
    display: flex;
    flex-wrap: wrap;
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    /* gap: 1rem; */
    padding: 1rem;
    /* margin: 1rem; */
    gap: 2.4rem;
    justify-content: space-evenly;    

}

.html-logo:hover {
    /* transform: skew(-10deg , -10deg) ; */
    /* transition: ease-in; */
}

/* Animation */

@keyframes rotating{
    0%{
        transform: translateY(-1px);

    }
    100%{
        transform: translateY(-15px);
    }
    /* 100%{
        transform: rotateY(0deg);
    } */
}

/* ANimation End */

.new-message-forhtml{
    display: none;
    /* height: ; */
    width: 30vh;
    border: 2px solid black;
    border-radius: 2rem;
    /* transform: skew(-5deg , -5deg) ; */
    padding: 2vh;
    /* background-color: rgb(73, 189, 189); */
    /* background-color: rgba(0, 217, 255, 0.699); */
    /* background-color: tan; */
    font-weight: 500;
    animation-name: rotating;
    animation-duration: .5s;
    animation-iteration-count: 1;

}
.new-message-forhtml:hover{
    transform: translateY(-15px);
    transition: ease-in;
}
.html-logo-in{
    width: 31vh;
    /* height: 24vh; */
    /* background-blend-mode: color-burn; */
    /* background-color: whitesmoke; */
    background-color: transparent;
}

.html-message{
    padding-left: 2%;
    /* height: 3.4rem; */
    /* background-color: tan; */
    /* background-color: rgba(0, 217, 255, 0.699); */
    /* background-color: rgba(68, 224, 185, 0.699); */
}

.buttons{
    /* background-color: transparent; */
    /* background-color: rgba(0, 217, 255, 0.699); */
    /* background-color: aqua; */
    display: flex;
    justify-content: space-around;
    /* flex-direction: column; */
    /* grid-template-columns: 1fr 1fr; */
}

.buttons button{
    border: 2px solid rgba(17, 1, 4, 0.74);
    border-radius: .4rem;
    padding: .25rem;
    padding-left: .75rem;
    padding-right: .75rem;

    
}

:is(.html-logo-a:hover){
    .html-logo,.c-logo,.python-logo,.java-logo,.cpp-logo,.css-logo{
        display: none;
    }
    
    .new-message-forhtml{
        display: flex;
        flex-direction: column;
        gap: 2vh;
    }

}






/* Till 12 august */











/* 

div .h22{
    background-color: rgb(26, 137, 235);
    width: 30%;
    color: black;
    border: 1px solid white;
    border-radius: 2rem;
    padding: 7%;
    margin: 2.5%;
}

div .h22:hover{
    background-color: rgb(19, 121, 211);
    width: 30%;
    color: black;
    border: 1px solid white;
    border-radius: 2rem;
    padding: 7.5%;
    margin: 2.5%;
}

div .h23{
    background-color: rgb(26, 137, 235);
    width: 30%;
    color: black;
    border: 1px solid white;
    border-radius: 2rem;
    padding: 7%;
    margin: 2.5%;
}

div .h23:hover{
    background-color: rgb(19, 121, 211);
    width: 30%;
    color: black;
    border: 1px solid white;
    border-radius: 2rem;
    padding: 7.5%;
    margin: 2.5%;
}

div .h24{
    background-color: rgb(26, 137, 235);
    width: 30%;
    color: black;
    border: 1px solid white;
    border-radius: 2rem;
    padding: 7%;
    margin: 2.5%;
}

div .h24:hover{
    background-color: rgb(19, 121, 211);
    width: 30%;
    color: black;
    border: 1px solid white;
    border-radius: 2rem;
    padding: 7.5%;
    margin: 2.5%;
} */

a {
    display: contents;
    background-color: rgb(26, 137, 235);
    color: inherit;
    text-decoration: none;
}

a:hover {
    background-color: rgb(19, 121, 211);
    color: inherit;
    text-decoration: none;

}

/* 
button{
    border: 0px solid gray;
    padding: .6rem;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    border-radius: 1.5rem;
    background-color: gray;
} */

.btop {
    font-size: .9rem;
    color: white;
    padding: .7rem;
    position: fixed;
    right: 1rem;
    bottom: .4rem;
    border-radius: 1.5rem;
    background-color: rgba(0, 0, 0, 0);

}
.helpus{
    font-weight: 550;
    background-color: rgba(56, 188, 240, 0.699);
    padding: .25rem;
    padding-left: .5rem;
    padding-right: .5rem;
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    border-radius: .75rem;
}


.copyright {
    white-space: nowrap;
    border: 1px solid white;
    text-align: center;
    margin: .5rem;
    padding: .5rem;
    display: inline-block;
    width: fit-content;
    border-radius: 1.5rem;
    position: relative;
    bottom: .6rem;
    left: 0rem;
}


.copyright:hover {
    white-space: nowrap;
    background-color: rgb(66, 182, 228);
    color: white;
    border: 2px solid rgba(255, 255, 255, 0);
    margin: .5rem;
    padding: .6rem;
    display: inline-block;
    width: fit-content;
    border-radius: 1.8rem;
    position: relative;
    bottom: 0.6rem;
    left: 0rem;

}



.team{
    border: 1px solid rgb(25, 24, 56);
    width: fit-content;
    padding: .2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: .42rem;
}

.team:hover{
    scale: 1.1;
}




@media (max-width:550px){
    .learn-with-us{
        font-size: 4vw;
    }
    .border1 h3{
        font-size: 1rem;
    }
    .copyright,.btop{
        font-size: .75rem;
    }
    .btop{
        right: .5rem;
        padding: .5rem;
        padding-left: .3rem;
        padding-right: .3rem;
    }
    .helpus{
        bottom: 1.2rem;
        left: .2rem;
    }
}

@media (max-width:550px){
    .navbar{
        display: flex;
    }
    .first-intro{
        display: none;
    }
}