html{
    background-color: rgb(65, 65, 245);
    scroll-behavior: smooth;
}

.social{
    font-size: 8vw;
    border: 2px solid rgb(0, 26, 255);
    padding: 1.5rem;
    border-radius:1.5rem ;
    width: fit-content;
    background-color: rgb(86, 116, 252);
}

.social:hover{
    background-color: rgb(60, 19, 206);
    color: rgb(226, 228, 247);
    border: 2px solid rgb(188, 184, 211);
}
/* 
.platform{
    border: 1px solid rgb(87, 87, 109);
    width: fit-content;
    padding: .5rem;
    border-radius: 1rem;
    background-color: rgb(26, 119, 226);
}

.platform:hover{
    background-color: aquamarine;
    padding: .6rem;
} */



.instagram-logo{
    height: 20vw;
    border: 2px solid white;
    border-radius: 1rem;
}
.instagram-logo:hover{
    height: 24vw;
    border: 2px solid white;
    border-radius: 1rem;
}

.facebook-logo{
    height: 22vw;
    width: 35vw;
    border: 2px solid white;
    border-radius: 1rem;
}
.facebook-logo:hover{
    height: 26vw;
    width: 38vw;
    border: 2px solid white;
    border-radius: 1rem;
}

.twitter-logo{
    height: 22vw;
    border: 2px solid white;
    border-radius: 1rem;
}

.twitter-logo:hover{
    height: 24vw;
    border: 2px solid white;
    border-radius: 1rem;
}

.linkedin-logo{
    height: 20vw;
    border: 2px solid white;
    border-radius: 1rem;
}
.linkedin-logo:hover{
    height: 22vw;
    border: 2px solid white;
    border-radius: 1rem;
}

.github-logo{
    height: 25vw;
    border: 2px solid white;
    border-radius: 1rem;
}
.github-logo:hover{
    height: 27vw;
    border: 2px solid white;
    border-radius: 1rem;
}

.whatsapp-logo{
    height: 21vw;
    border: 2px solid white;
    border-radius: 1rem;
}
.whatsapp-logo:hover{
    height: 22vw;
    border: 2px solid white;
    border-radius: 1rem;
}





button{
    color: white;
    background-color: black;
    padding: .5rem;
    border-radius: 1rem;
    position: fixed;
    bottom:1rem;
    right: 1rem;
}


.buttonhome{
    color: white;
    background-color: black;
    padding: .5rem;
    border-radius: 1rem;
    position: fixed;
    bottom:1rem;
    left: 1rem;
    width: 100px;
    /* right: 0; */
}


a{
    color: inherit;
    text-decoration: none;
}