html{

    background-image: linear-gradient(to bottom, rgb(170, 231, 255), rgb(4, 40, 58));
    height: fit-content;
    /* background-color: rgb(130, 252, 223); */
}

.heading{
    border-left: 3px solid black;
    border-bottom: 3px solid black ;
    border-right: 3px solid black;
    background-color: rgb(14, 41, 41);
    height: 20vh;
    /* padding-top: 2rem; */
    /* margin: -1%; */
    border-bottom-left-radius: 90%;
    border-bottom-right-radius: 90%;  
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    justify-content: center;
    align-items: center;  
}

.heading-nav a{
    text-decoration: none;
    color: inherit;
    
}
.heading-nav{
    color: white;
    display: flex;
    /* justify-content: space-evenly; */
    gap: 10%;
    padding-left: 7%;
}
.heading-title{
    padding-left: 5%;
}

.heading h1{
    color: white;
    /* text-align: center; */
    /* border-bottom: 4px solid rgb(15, 6, 48); */
    /* border-bottom-left-radius: 2rem; */
    /* border-bottom-right-radius: 2rem; */
    /* width: fit-content; */
    /* padding-left: 17%; */
    /* padding-right: 3%; */
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.books-section h2{
    border-bottom: 5px solid black;
    width: fit-content;
    padding-left: 1%;
    padding-right: 3%;
}

.internal-div-books{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 1rem;
    place-items: center;
}

.internal-div-books div{
    /* height: 30%; */
    /* width: 30%; */
    /* height: 30%; */
    height: 20rem;
    width: 20rem;
    /* border: 5px solid rgba(21, 104, 228, 0.563); */
    border-radius: 1rem;
    /* border-top-left-radius: 1rem; */
    /* border-bottom-right-radius: 1rem; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.internal-div-books img{
    height: 13rem;
    z-index: 0;
}

.lang:hover{
    background-color: rgb(2, 141, 255);
    transition: 1s cubic-bezier(0.0075, 0.182, .165, 2);
}
.prog-text{
    display: none;
    text-align: center;
}
.prog-text  button{
    border: 1px solid black;
    border-radius: .3rem;
    padding: .3rem;
    padding-left: .6rem;
    padding-right: .6rem;
    background-color: transparent;
}

:is(.lang:hover){
    .img{
        display: none;
    }
    .prog-text{
        display: block;
    }
}






.bhome{
    padding: .3rem;
    padding-left: .6rem;
    padding-right: .6rem;
    position: fixed;
    bottom: 1rem;
    right: .3rem;
    background-color: transparent;
}

footer a{
    text-decoration: none;
    color: inherit;
}

footer {
    height: 7rem;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* grid-template-columns: 1fr 1fr 1fr; */
    margin: -.5%;
    /* overflow: hidden; */
}
footer div:hover{
    text-decoration: underline;
}


@media (max-width:550px){
    .heading-nav{
        display: none;
    }
    .heading-title{
        text-align: center;
    }
    .heading{
        display: grid;
        grid-template-columns: 1fr;
    }
    .internal-div-books{
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 1rem;
        place-items: center;
    }
    .internal-div-books div{
        /* height: 30%; */
        /* width: 30%; */
        /* height: 30%; */
        height: 8rem;
        width: 8rem;
        /* border: 5px solid gray; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        place-items: center;
    }
    .internal-div-books img{
        height: 6.5rem;
    }
    
}

@media (min-width:550px) and (max-width: 900px){
    .internal-div-books{
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 1rem;
        place-items: center;
    }
    .internal-div-books div{
        /* height: 30%; */
        /* width: 30%; */
        /* height: 30%; */
        height: 14rem;
        width: 14rem;
        /* border: 5px solid gray; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .internal-div-books img{
        height: 10rem;
    }
    
}
@media (min-width:700px) and (max-width: 900px){
    .internal-div-books{
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 1rem;
        place-items: center;
    }
    .internal-div-books div{
        /* height: 30%; */
        /* width: 30%; */
        /* height: 30%; */
        height: 17rem;
        width: 17rem;
        /* border: 5px solid gray; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width:900px) and (max-width: 1300px){
    .internal-div-books{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 1rem;
        place-items: center;
    }
    .internal-div-books div{
        /* height: 30%; */
        /* width: 30%; */
        /* height: 30%; */
        height: 18rem;
        width: 18rem;
        /* border: 5px solid gray; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


