html{

    background-image: linear-gradient(to bottom, rgb(170, 231, 255), rgb(4, 40, 58));
    height: fit-content;
    /* background-color: rgb(130, 252, 223); */
}

.headings{
    border-left: 3px solid black;
    border-bottom: 3px solid black ;
    border-right: 3px solid black;
    background-color: rgb(14, 41, 41);
    height: 20vh;
    /* padding-top: 2rem; */
    /* margin: -1%; */
    border-bottom-left-radius: 90%;
    border-bottom-right-radius: 90%;  
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    justify-content: center;
    align-items: center;  
}

.heading-nav a{
    text-decoration: none;
    color: inherit;
    
}
.heading-nav{
    color: white;
    display: flex;
    /* justify-content: space-evenly; */
    gap: 10%;
    padding-left: 7%;
}
.heading-title{
    padding-left: 5%;
}

.headings h1{
    color: white;
    /* text-align: center; */
    /* border-bottom: 4px solid rgb(15, 6, 48); */
    /* border-bottom-left-radius: 2rem; */
    /* border-bottom-right-radius: 2rem; */
    /* width: fit-content; */
    /* padding-left: 17%; */
    /* padding-right: 3%; */
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}




/* New navBar */

*{
    padding: 0;
    margin: 0;
}

.heading{
    /* border: 3px solid ; */
    background-color: rgba(0, 0, 255, 0.714);
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.heading h1{
    text-align: center;

}


.navbar img{
    height: 2rem;
    /* left: 0; */
    /* border: 2px solid black; */
}

.navbar{
    position: fixed;
    bottom: -1%;
    display: flex;
    justify-content: space-evenly;
    border: 4px solid rgb(74, 182, 250);
    width: 100%;
    /* padding: auto; */
    background-color: rgb(74, 182, 250);
    border-top-left-radius: 7rem;
    border-top-right-radius: 7rem;
    /* align-items: center; */
    /* place-items: center; */
    z-index: 1;
    display: none;
}

#home{
    /* padding-top: 2rem; */
}
#book{
    padding: .3rem;
    padding-left: .5rem;
    padding-right: .5rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: rgb(74, 182, 250);
    transform: translateY(-20px);

}

.navbar button{
    background-color: transparent;
    border: 0;
}


/* New NavBar Ending */







.books-section h2{
    border-bottom: 5px solid black;
    width: fit-content;
    padding-left: 1%;
    padding-right: 3%;
}

.internal-div-books{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 1rem;
    place-items: center;
}

.internal-div-books div{
    /* height: 30%; */
    /* width: 30%; */
    /* height: 30%; */
    height: 11rem;
    width: 11rem;
    /* border: 5px solid rgba(21, 104, 228, 0.563); */
    border-radius: 1rem;
    /* border-top-left-radius: 1rem; */
    /* border-bottom-right-radius: 1rem; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.internal-div-books img{
    height: 5rem;
    z-index: 0;
}

.lang:hover{
    background-color: rgb(2, 141, 255);
    transition: 1s cubic-bezier(1,1,1,1);
}
.prog-text{
    display: none;
    text-align: center;
}
.prog-text  button{
    border: 1px solid black;
    border-radius: .3rem;
    padding: .3rem;
    padding-left: .6rem;
    padding-right: .6rem;
    background-color: transparent;
}

:is(.lang:hover){
    .img{
        display: none;
    }
    .prog-text{
        display: block;
    }
}

.heading-nav a:hover{
    text-decoration: underline;
    transition: 3s ease-in-out;

}





.bhome{
    padding: .3rem;
    padding-left: .6rem;
    padding-right: .6rem;
    position: fixed;
    bottom: .8rem;
    right: .8rem;
    border-radius: .5rem;
    background-color: rgba(43, 165, 226, 0.355);
}

footer a{
    text-decoration: none;
    color: inherit;
}

footer {
    height: 7rem;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* grid-template-columns: 1fr 1fr 1fr; */
    margin: -.5%;
    /* overflow: hidden; */
}
footer div:hover{
    text-decoration: underline;
}


@media (max-width:550px){
    
    .heading-title{
        text-align: center;
    }
    .headings{
        display: grid;
        grid-template-columns: 1fr;
    }
    .internal-div-books{
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 1rem;
        place-items: center;
    }
    .internal-div-books div{
        /* height: 30%; */
        /* width: 30%; */
        /* height: 30%; */
        height: 9rem;
        width: 9rem;
        /* border: 5px solid gray; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        place-items: center;
    }
    .internal-div-books img{
        height: 5rem;
    }
    
}

@media (min-width:550px) and (max-width: 900px){
    .internal-div-books{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 1rem;
        place-items: center;
    }
    .internal-div-books div{
        /* height: 30%; */
        /* width: 30%; */
        /* height: 30%; */
        height: 10rem;
        width: 10rem;
        /* border: 5px solid gray; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .internal-div-books img{
        height: 5rem;
    }
    
}
/* @media (min-width:700px) and (max-width: 900px){
    .internal-div-books{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 1rem;
        place-items: center;
    }
    .internal-div-books div{
        height: 17rem;
        width: 17rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
} */

@media (min-width:900px) and (max-width: 1300px){
    .internal-div-books{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 1rem;
        place-items: center;
    }
    .internal-div-books div{
        /* height: 30%; */
        /* width: 30%; */
        /* height: 30%; */
        height: 18rem;
        width: 18rem;
        /* border: 5px solid gray; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


@media (max-width:550px){
    .navbar{
        display: flex;
    }
    .heading-nav{
        display: none;
    }
}