html{
    background-color: rgb(204, 212, 255);
    color: rgb(11, 5, 92);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo{
    height: 8rem;
}

h2{
    text-decoration: underline;
}

.heading{
    text-align: center;
    /* position: fixed; */
    /* top: 0; */
    background-color: red;
    width: 100%;
    height: 6rem;
    padding-top: 1%;
    border-bottom-left-radius: 6rem;
    border-bottom-right-radius: 6rem;
}
h1{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.apply button{
    padding: .3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: .3rem;
    background-color: rgb(50, 114, 252);
    color: rgb(255, 255, 255);
    
}


.btop{
    position: fixed;
    right: .5rem;
    bottom: 1rem;
}

.btop img{
    transform: rotateZ(-90deg);
}

@media (max-width:400px){
    h1{
        font-size: 1.3rem;
    }
}

@media (min-width:400px) and (max-width:450px){
    h1{
        font-size: 1.75rem;
    }
}

@media (min-width:450px) and (max-width:550px){
    h1{
        font-size: 1.5rem;
    }
}
@media (min-width:550px) and (max-width:700px){
    h1{
        font-size: 1.8rem;
    }
}
